<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-progress-spinner mode="indeterminate" diameter="25" *ngIf="dataService.isReloading"></mat-progress-spinner>
            Blocks
        </ng-template>
        <mat-accordion multi>
            <mat-expansion-panel expanded [disabled]="!dataService.isConnected">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>grid_view</mat-icon> Blocks
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-blocks></app-blocks>
            </mat-expansion-panel>
            <mat-expansion-panel expanded [disabled]="!dataService.selectedBlock">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>list</mat-icon> Block Details
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-block-details></app-block-details>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-progress-spinner mode="indeterminate" diameter="25" *ngIf="dataService.isReloading"></mat-progress-spinner>
            Network
        </ng-template>
        <app-network></app-network>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-progress-spinner mode="indeterminate" diameter="25" *ngIf="dataService.isReloading"></mat-progress-spinner>
            Identities
        </ng-template>
        <app-identities></app-identities>
    </mat-tab>
</mat-tab-group>