<div [class.blurred]="dataService.selectedBlock.type === 'fake'" class="transactions">
  <button mat-raised-button (click)="verify()">Verify</button>
  <mat-form-field appearance="fill">
    <mat-label>Number</mat-label>
    <input matInput [ngModel]="dataService.selectedBlock.number" readonly>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Created At</mat-label>
    <input matInput [ngModel]="dataService.selectedBlock.createdAt" readonly>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Hash</mat-label>
    <input matInput [ngModel]="dataService.selectedBlock.hash" readonly>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Previous Hash</mat-label>
    <input matInput [ngModel]="dataService.selectedBlock.previousHash" readonly>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Signature</mat-label>
    <input matInput [ngModel]="dataService.selectedBlock.signature" readonly>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Public Key</mat-label>
    <textarea matInput [ngModel]="dataService.selectedBlock.publicKey" readonly></textarea>
  </mat-form-field>
  Transactions:
  <mat-accordion>
    <mat-expansion-panel *ngFor="let transaction of dataService.selectedBlock.payload.transactions">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{transaction.data.type || 'custom'}}
        </mat-panel-title>
        <mat-panel-description>
          {{transaction.createdAt | timeago:live}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <pre>{{stringify(transaction)}}</pre>
    </mat-expansion-panel>
  </mat-accordion>
  <div >
    
  </div>
</div>
<div *ngIf="dataService.selectedBlock.type === 'fake'" class="notConnected">
  <button mat-raised-button color="primary" disabled>Please Select a Block</button>
</div>
<div *ngIf="dataService.isLoading" class="notConnected">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>