<h1 mat-dialog-title>New Transaction</h1>
<div mat-dialog-content>
  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="privateKeyFormGroup" label="Pick Private Key">
      <form [formGroup]="privateKeyFormGroup">
        <!--<mat-form-field appearance="fill">
          <mat-label>Nickname</mat-label>
          <input matFileInput formControlName="privateKeyCtrl" placeholder="Nickname" [(ngModel)]="privateKey"
                  required>
        </mat-form-field>-->
        <input class="hide" id="input-file-id" type="file" (change)="handlePrivateKeyChange($event)" />
        <label class="mat-focus-indicator mat-raised-button mat-button-base mat-primary" mat-raised-button for="input-file-id">Choose Files</label>
      </form>
    </mat-step>
    <mat-step [stepControl]="contentFormGroup" label="Enter Transaction Details">
      <form [formGroup]="contentFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>Nickname</mat-label>
          <input matInput formControlName="nameCtrl" placeholder="Nickname" [(ngModel)]="data.data"
                  required>
        </mat-form-field>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Validating</ng-template>
      <div>
          <div *ngIf="isLoading">
              <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
          </div>
          <div *ngIf="!dataService.isLoading && !isLoading">
              Done.
          </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancle</button>
  <button mat-button (click)="next()" cdkFocusInitial [disabled]="nextDisabled">Next</button>
</div>